.container {
  padding: 2rem; 
  margin: 0 auto;
  min-height: 100vh;
  max-width: 800px;
}

.main {
  background: #fff;
  border-radius: 24px;
  min-height: 50vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  text-align: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: #ccc;
}

.footer a:hover {
  color: #ddd;
}

.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.button {
  background: #fff;
  border-radius: 12px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
}
.button:hover {
  background: #fafafa;
}
.button:active {
  background: #f3f3f3;
}
.button:disabled {
  background: #eee;
  border-color: #999;
  color: #444;
}

.instructionList {
  list-style: none;
}

.instructionList li {
  position: relative;
}

.instructionList li::before {
  content: counter(list-item)". ";
  display: block;
  position: absolute;
  left: -2rem;
  top: 0.2rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.instructionBody {
  font-size: 16px;
}