.container {
  padding: 2rem; 
  margin: 0 auto;
  min-height: 100vh;
  max-width: 640px;
}

.main {
  background: #fff;
  border-radius: 1.5rem;
  min-height: 50vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  text-align: center;
  font-size: 1.5rem;
}

.main h2 {
  font-size: 1.2rem;
}

.main h3 {
  font-size: 1rem;
  padding: 0.5rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: #ccc;
}

.footer a:hover {
  color: #ddd;
}

.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.button {
  background: #fff;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
}
.button:hover {
  background: #fafafa;
}
.button:active {
  background: #f3f3f3;
}
.button:disabled {
  background: #eee;
  border-color: #999;
  color: #444;
}

.instructionList {
  list-style: none;
}

.instructionList li {
  position: relative;
}

.instructionEnabled {
  color: #000;
}

.instructionDisabled {
  color: #888;
}

.instructionEnabled,
.instructionDisabled{
  min-height: 6rem;
}

.instructionList li::before {
  content: counter(list-item)". ";
  display: block;
  position: absolute;
  left: -1.5rem;
  top: 0rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #888;
}

.instructionBody {
  font-size: 1rem;
}